/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #303133;
     color: white;

}

header {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}


/******************************************
/* LAYOUT
/*******************************************/
h1,svg,p {
     display: block;
}


svg{
     margin-top: 50px;
     border: 3px solid #A23229;
     border-radius: 10px;
     box-shadow: 5px 10px 5px black;
     animation-name: ckw;
     animation-duration: 15.5s;
}
@keyframes ckw {
     0% {
         transform: rotate(0deg);
     }
     50% {
         transform: rotate(360deg);
     }
     100% {
          transform: rotate(-360deg);
      }
 }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
