* {
     box-sizing: border-box;
}

body {
     background-color: #303133;
     color: white;

}

header {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

h1,svg,p {
     display: block;
}


svg{
     padding: 10px;
}

.rotate{
     animation: rotation 30s infinite linear;
}

@keyframes rotation {
     from {
       transform: rotate(0deg);
     }
     to {
       transform: rotate(360deg);
     }
   }