* {
     box-sizing: border-box;
     font-family: 'Spline Sans Mono', monospace;
}

body {
     background-color: #303133;
     color: white;
}

header {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     flex-wrap: wrap;
}

h1, h2 {
     -webkit-text-stroke: 0.3px black;
     text-shadow: 
      0 0 7px black,
      0 0 50px #A23229,
      0 0 122px #A23229;
     color: #A23229;
}

h1 {
     font-size: 2.4rem;
}

h2 {
     font-size: 1.8rem;
}

h3 {
     font-size: 1rem;
}

svg{
     padding: 10px;
     filter: drop-shadow(3px 5px 20px rgb(0 0 0 / 0.7));
}

.rotate{
     animation: rotation 6s infinite linear;
}

div {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     border: 2px solid #A23229;
     padding: 10px;
     background-color: #1f1f1f;
}

.name::before, .honor::before, .clan::before, .kyu::before, .completed::before  {
     text-shadow: 
     0 0 7px black,
     0 0 50px #A23229,
     0 0 122px #A23229;
    color: #A23229;
}

.name::before {
     content: 'Name: ';
}

.honor::before {
     content: 'Honor: ';
}

.clan::before {
     content: 'Clan: ';
}

.kyu::before {
     content: 'Rank: ';
}

.completed::before {
     content: 'Codewars Completed: '
}

@keyframes rotation {
     0% {
         transform: rotate(0deg);
     }
     55% {
         transform: rotate(360deg);
     }
     90% {
          transform: rotate(-355deg);
      }
     100% {
          transform: rotate(-360deg);
      }
   }